.grid {
  width: 300px;
  height: 300px;
  border: solid white 1px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.picgifs.com%2Fgraphics%2Fm%2Fmilkman%2Fgraphics-milkman-658016.gif&f=1&nofb=1") 0 0;
  background-size: 20px;
  border-radius: 50%;
}

.shooter {
  background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload-assets.vice.com%2Ffiles%2F2016%2F07%2F08%2F1467995206PugOfWar.gif&f=1&nofb=1") 0 0;
  background-size: 20px;
}

.laser {
  width: 15px;
  height: 20px;
  background-color: orange;
}

.boom {
  background-color: red;
}
.cowimage {
 width: 200px;
}